BasedOnStyle: Chromium

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: false
  AfterStruct: false
  BeforeElse: false
  BeforeLambdaBody: false

NamespaceIndentation: All
FixNamespaceComments: false

PointerAlignment: Left

ConstructorInitializerAllOnOneLineOrOnePerLine: true

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false

Cpp11BracedListStyle: true

PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 10

BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
